.download {
    width: 8rem;
    height: 6.11rem;
    border-radius: 0.4rem;
    /*background-image: url("../img/index/alert.png");*/
    /*background-size: 100% 100%;*/
    /*background-repeat: no-repeat;*/
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.download1 {
    width: 8rem;
    height: 6.11rem;
    border-radius: 0.4rem;
    background-image: url("../img/index/alert.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /*background-color: white;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.textbox {
    width: 100%;
    margin: auto;
}

.down-text {
    width: 6.36rem;
    /*height: 3.5rem;*/
    margin: 0 auto;
    font-size: 0.16rem;
    line-height: 0.28rem;
    text-align: justify;
    justify-content: center;
    align-items: center;
    /*overflow-y: scroll;*/
}

.down-btn > img {
    width: 1.11rem;
    height: 1.12rem;
    cursor: pointer;
}

.fanhui1 {
    position: relative;
    cursor: pointer;
    height: 0.74rem;

}

.fanhui1 > img {
    position: absolute;
    width: 0.72rem;
    height: 0.74rem;
    right: -0.01rem;
    top: -0.01rem;
}

.fanhui2 {
    position: relative;
    cursor: pointer;
    height: 0.59rem;

}

.fanhui2 > img {
    position: absolute;
    width: 0.77rem;
    height: 0.59rem;
    right: 0;
    top: 0;
}

.choujiang {
    position: absolute;
    width: 1.38rem;
    cursor: pointer;
}

.inputDiv {
    width: 70%;
    margin-left: 15%;
    height: 0.4rem;
    line-height: 0.4rem;
    margin-top: 0.13rem;
    display: flex;

}

.inputDiv1 {
    width: 70%;
    margin-left: 15%;
    height: 0.4rem;
    line-height: 0.4rem;
    margin-top: 0.13rem;

}

.inputDiv1 > div {
    margin-left: 25%;
    width: 75%;
    border-radius: 0.1rem;
}

.input {
    width: 75%;
    height: 0.4rem;
    background-color: #dbdbdb;
}

.text {
    font-size: 0.22rem;
    width: 25%;
    text-align: justify;
}

.text-english {
    font-size: 0.18rem;
    width: 25%;
    text-align: justify;
}

.ok {
    width: 75%;
    margin-left: 25%;
    text-align: center;
    height: 0.4rem;
    background-color: #F5A418;
    border-radius: 0.1rem;
    color: white;
    font-size: 0.22rem;
    cursor: pointer;
}
.sumbit {
    width: 75%;
    margin-left: 25%;
    text-align: center;
    height: 0.4rem;
    background-color: #dbdbdb;
    border-radius: 0.1rem;
    color: white;
    font-size: 0.22rem;
    /*cursor: pointer;*/
    pointer-events: none;
}

.clickEffict:active {
    transform: scale(0.9);
    -ms-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -o-transform: scale(0.9);
}

button:focus {
    outline: 0;
}

.uploadbtn {
    /*width: 120px;*/
    /*height: 45px;*/
    cursor: pointer;
    width: 75%;
    height: 0.4rem;
    margin-top: 0.1rem;
    background-color: #F5A418;
    line-height: 0.4rem;
    text-align: center;
    color: #fff;
    font-size: 0.22rem;
    /*display: none;*/
}

.uploadbtn .file {
    opacity: 0;
    position: relative;
    top: -0.4rem;
    width: 100%;
    /*height: 45px;*/
    cursor: pointer;
    border: 1px solid red;
}

.filename {
    width: 50%;

}

.delete {
    cursor: pointer;
    width: 50%;
    background-color: #F5A418;
    border-radius: 0.1rem;
    color: white;
    font-size: 0.16rem;
    height: 0.4rem;
    text-align: center;
}

.filename {
    display: flex;
    visibility: hidden;

}

.progress {
    background-color: #025272;
    text-align: center;
    color: #fff;
    font-size: 0.2rem;
    display: none;
}

.etext {
    font-size: 0.15rem;
    line-height: 0.22rem;
}

.note {
    width: 65%;
    margin-left: 35%;
    font-size: 0.16rem;
    margin-bottom: 0.1rem;
    /*border: 1px solid red;*/

}

.note-text {
    width: 100%;

}

.n-text {
    width: 90%;
    margin: 0 auto;
    font-size: 0.13rem;
    line-height: 0.18rem;
    height: 5.52rem;
    overflow-y: scroll;
}

.videoUrl {
    width: 50%;
    font-size: 0.22rem;
}


.email{
    font-size: 0.16rem;
}
.text-english {
    font-size: 0.18rem;
    width: 25%;
    text-align: justify;
}